@model IEnumerable<Snapp.DataAccessLayer.Entities.Humidity>
@{
    ViewData["Title"] = "نمایش تعرفه های رطوبت هوا";
    Layout = "~/Views/Shared/_DashbordLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title pull-right">تعرفه های رطوبت هوا</h4>
                <h4 class="title pull-left">
                    <a href="/Humidity/Create" class="btn btn-success">جدید</a>
                </h4>
                <div class="clearfix"></div>
                <br />
                <input type="text" class="form-control" placeholder="جستجو ..." id="mySearch" />
            </div>
            <div class="content table-responsive table-full-width">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Start)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.End)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Precent)
                            </th>
                            <th>عملیات</th>
                        </tr>
                    </thead>
                    <tbody id="myTable">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(model => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => item.Start)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => item.End)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => item.Precent)
                                </td>
                                <td>
                                    <a href="/Humidity/Edit/@item.Id" class="btn btn-xs btn-warning">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a href="#" onclick="myDelete('@item.Id')" class="btn btn-xs btn-danger">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

@section mySection
{
    <script src="~/js/sweet.js"></script>

    <script>
        $(document).ready(function () {
            $("#mySearch").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>

    <script>
        function myDelete(id) {
            swal({
                title: "تأیید حذف",
                text: "آیا از حذف این مقدار اطمینان دارید؟",
                icon: "warning",
                buttons: ['لغو', 'بلی'],
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        window.open('/Humidity/Delete/' + id, '_parent');
                    }
                });
        }
    </script>
}

